
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.wrapper{
     height: 100vh;
     overflow-y: auto;
     overflow-x: hidden;

}
.container{
    width: 1200px;
    margin: 0 auto;
}
.heading-section{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.heading{
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    user-select: none;
}
.sub-heading{
    font-size: 29px;
    margin-top: -15px;
}
.heading-end{
    font-size: 20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.head-desc{
    display: flex;
    gap: 10px;
    background: linear-gradient(#006838 , #96CF24);
    padding: .9rem;
    margin-top: 10px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    justify-content: baseline;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    user-select: none;
}
.desc{
    font-size: 110%;
}
.btm a{
    text-decoration: none;
    color:#FFFF00;
}
.btm{
    padding: 10px;
    margin: -20px;
    border-radius: 10px;
    margin-left: 1.5rem;
    background-color:  #cd1818;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.btm:hover{
    transform: scale(1.08);
    transition: all .5s;
    
}
 /* .content-section{
    display: grid;
    background-color: yellow;
    border: #cd1818;
    grid-template-columns: repeat(3,1fr);
 } */

.content-section{
     display:flex;
     padding-top: 2rem;
     flex-wrap: wrap;
     gap:15px;
}
.card{
    margin: 0 auto;
    border-radius: 12px;
    display: flex;
    flex-basis: 31%;
    flex-direction: column;
    gap: 14px;
    padding: 10px;
    height: 10rem;
    /* background:linear-gradient(to left,#8000FF, #DE00FF); */
    background-color: rgb(123, 127, 255);
    box-shadow: 0 5px 5px #a2a4a3;
}
.card:hover{
    transform: scale(1.04);
    transition: .3s;
} 
.card-h{
    user-select: none;
    color: white;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}
.footer{
     font-size: 15px;
     font-weight: 200;
     color: black;
    font-family: 'Oswald', sans-serif;
     text-align: center;
}
