
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container{
    width: 1200px;
    margin: 0 auto;
}
.heading-section{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.heading{
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    user-select: none;
}
.sub-heading{
    font-size: 29px;
    margin-top: -15px;
}
.heading-end{
    font-size: 20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.head-desc{
    display: flex;
    gap: 10px;
    background: linear-gradient(#006838 , #96CF24);
    padding: .9rem;
    margin-top: 10px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    justify-content: baseline;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    user-select: none;
}
.desc{
    font-size: 110%;
}
.btm a{
    text-decoration: none;
    color:#FFFF00;
}
.btm{
    padding: 10px;
    margin: -20px;
    border-radius: 10px;
    margin-left: 1.5rem;
    background-color:  #cd1818;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.btm:hover{
    transform: scale(1.08);
    transition: all .5s;
    
}

.content-section{
     display:flex;
     padding-top: 2rem;
     flex-wrap: wrap;
     gap:15px;
}
.card{
    margin: 0 auto;
    position: relative;
    border-radius: 12px;
    display: flex;
    flex-basis: 31%;
    flex-direction: column;
    gap: 14px;
    padding: 10px;
    height: 10rem;
    /* background:linear-gradient(to left,#8000FF, #DE00FF); */
    background-color: rgb(252, 252, 252);
    box-shadow: 0 5px 5px #63716a;
    
}
.card:hover{
    transform: scale(1.04);
    transition: .3s;
} 
.card-h{
    user-select: none;
    color: rgb(48, 35, 225);
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}
.footer{
     font-size: 15px;
     font-weight: 200;
     color: black;
    font-family: 'Oswald', sans-serif;
     text-align: center;
}


.card {
    background: url(gradient-color-image.jpg);
    background-color: rgba(98, 255, 7, 0.5); /* Semi-transparent white */
    background-blend-mode: lighten; /* Or other blend modes for different effects */
  }

  @media   (max-width: 600px) {
    .container{
        width:400px;
    }
     .content-section{
       display: flex;
     } 
     .content-section div{
       width: 380px;
     }
     .head-desc btm{
        margin-left: 400px;
     }
  }
  @media  (min-width: 601px)  and (max-width: 900px) {
    .container{
        width:700px;
    }
     .content-section{
       display: flex;
     } 
     .content-section div{
       width: 320px;
     }
     .head-desc btm{
        margin-left: 400px;
     }
  }
